/* Style the table header */
.p-datatable .p-datatable-thead > tr > th {
    background-color: #1976d2;
    color: #fff;
    font-weight: bold;
    text-align: left;
  }
  
  /* Style the table rows */
  .p-datatable .p-datatable-tbody > tr > td {
    background-color: #f1f1f1;
    color: black;
    
  }
  
  /* Add hover effect to rows */
  .p-datatable .p-datatable-tbody > tr:hover > td {
    background-color: #e0e0e0;
  }
  
  /* Style specific columns */
  .p-datatable .p-datatable-tbody > tr > td:nth-child(1) {
    font-weight: bold;
    color: #00796b;
  }
  