    <p-dialog header="Edit Meeting" [modal]="true" [(visible)]="visible"  [draggable]="false" >

        <form #form="ngForm" style="width: 500px;" >
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="meetingName">Meeting Name</label>
                <input type="text" id="meetingName" class="form-control form-control-lg"
                  name="meetingName" ngModel  placeholder="Enter a valid Meeting Name" />
            </div>
          
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="meetingStartTime">Meeting Start Time</label>
                <input type="datetime-local" id="meetingStartTime" class="form-control form-control-lg"
                  name="meetingStartDate" ngModel  />
                  
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="meetingEndTime">Meeting End Time</label>
                <input type="time" id="meetingEndTime" class="form-control form-control-lg"
                  name="meetingEndDate" ngModel  />
                  
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="meetingStatus">Meeting Status</label>
              <input type="text" id="meetingStatus" class="form-control form-control-lg"  readonly
                name="meetingStatus" ngModel  />
                
          </div>
          <!---->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="meetingReserver">Meeting Reserver</label>
            <input type="text" id="meetingReserver" class="form-control form-control-lg"  readonly
              name="meetingReserver" ngModel  />
              
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
          <label class="form-label" for="meetingRoom">Meeting Room</label>
          <input type="text" id="meetingRoom" class="form-control form-control-lg"  readonly
            name="meetingRoom" ngModel  />
            
      </div>
          <!---->
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="meetingDescription">Meeting Description</label>
                <textarea rows="6" type="text" id="meetingDescription" class="form-control form-control-lg"
                  name="meetingDescription" ngModel ></textarea>
            </div>
            <br>
            <div class="button-container">
                <button pButton type="button" label="Cancel" class="button-space" (click)="visible=false"></button>
                <button pButton type="button" label="Save" (click)="onSaveEdit()"></button>
              </div>

        </form>


    </p-dialog> 
