.form-row {
    display: flex;
    align-items: center; /* Vertically align items */
    justify-content: space-between; /* Distribute space between items */
  }
  
  .dropdown {
    flex: 1; /* Allow dropdown to grow and take available space */
    margin-right: 10px; /* Add some space between dropdown and buttons */
  }
  
  .button-container {
    display: flex;
  }
  
  .button-container .button-space {
    margin-right: 10px; /* Add some space between the buttons */
  }
  