<p-dialog header="Edit Meeting" [modal]="true" [(visible)]="visible"  [draggable]="false" >

    <form #form="ngForm" style="width: 500px;" >
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="meetingName">Meeting Name</label>
            <input type="text" id="meetingName" class="form-control form-control-lg"
              name="meetingName" ngModel  placeholder="Enter a valid Meeting Name" />
        </div>
      
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="meetingStartTime">Meeting Start Time</label>
            <input type="datetime-local" id="meetingStartTime" class="form-control form-control-lg"
              name="meetingStartDate" ngModel  />
              
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="meetingEndTime">Meeting End   Time</label>
            <input type="datetime-local" id="meetingEndTime" class="form-control form-control-lg"
              name="meetingEndDate" ngModel  />
              
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="meetingDescription">Meeting Description</label>
            <textarea rows="6" type="text" id="meetingDescription" class="form-control form-control-lg"
              name="meetingDescription" ngModel ></textarea>
        </div>
        <br>
        <div class="button-container">
            <button pButton type="button" label="Cancel" class="button-space" (click)="visible=false"></button>
            <button pButton type="button" label="Save" (click)="onSaveEvent()"></button>
          </div>

    </form>


</p-dialog> 
